<div class="container">
    <span class="subheading m-b-20" style="display: block;">Seite wurde nicht gefunden</span>
    <a class="bodytext t-black links t-underline" href="/" style="display: block;">Zurück zum Shop</a>
</div>