<style>
    #width {
        margin: 10px;
    }

    @media screen and (min-width: 1200px) {
        #width {
            max-width: 1200px;
            margin: 0 auto 20px;
        }
    }
</style>

<div id="width">
    <div class="klaviyo-form-X8Cx2x"></div>
</div>

{% schema %}
{
    "name": "Klaviyo Input Form",
    "settings": [],
    "presets": [
        {
            "name": "Klaviyo Input Form"
        }
    ]
}
{% endschema %}